@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: rgb(232, 244, 255);
}

.title{
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.texts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.texts h1:hover, p:hover, h2:hover, p:hover, h3:hover, p:hover, h4:hover, p:hover, h5:hover, p:hover, h6:hover, p:hover{
color: red;
}


form{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}